.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px auto;
}
.nav img {
    width: 250px;
    height: 50px;
}
.nav .links {
    display: flex;
    gap: 70px;
}
.nav .links a {
    color: #4353ff;
    font-weight: 500;
    font-size: 18px;
}
.mobile {
    display: none;
}
@media (max-width: 1199px) {
    .nav {
        margin: 0;
        justify-content: space-between;
    }
    .nav img {
        width: 100px;
    }
    .nav .links {
        display: none;
    }
    .mobile {
        display: block;
    }
    .mobile .menu-icon {
        display: flex;
        align-items: center;
    }
    .mobile .menu-items {
        position: absolute;
        top: 13%;
        left: 0;
        padding: 40px;
        width: 100%;
        background-color: #4353ff;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;
    }
    .mobile .menu-items a {
        color: white;
        font-size: 18px;
        font-weight: 500;
    }
}